<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'editor/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'editor/css/editormd.css'%}">
    <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}">
</head>
<body>
<div class="container">

    {% include 'article/header.html'%}

    <div class="col-md-2">
        {%include 'article/leftslider.html'%}
    </div>

    <div class="col-md-10">
        {% block content%}
        {% endblock %}
    </div>
</div>

{% block javascript %}
{% endblock %}

{% include 'footer.html'%}
</body>
</html>