<!--发送给用户的邮件内容-->

<!--将百度替换为需要打网址-->

<p>You're receiving this email because you requested a password reset for your user account at <a href="http://www.baidu.com">baidu.com</a></p>

<p> Please go to the following page and choose a new password:</p>

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

<p>Your username, in case you've forgotten: {{ user.get_username }}</p>
<p>Thanks for using our site!</p>

<!--{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
{% trans "Thanks for using our site!" %}-->

<p>The baidu.com team</p>